@custom-media --s-viewport (min-width: 600px);
@custom-media --pc-viewport (min-width: 900px);
@custom-media --pc-m-viewport (min-width: 1366px);
:root {
  --white: #fff;
  --black: #000;
  --gray1: #2f2f2f;
  --gray2: #1e1e1e;
  --gray3: #646464;
  --gray4: #9e9e9e;
  --gray5: #e6e6e6;
  --gray6: #f9f9f9;
  --orange: #ff725e;
  --green1: #6e7d60;
  --green2: #65895f;
  --green3: #7f977b;
  --green4: #e0da48;
  --brown: #bea363;
  --text1: 14px;
  --text2: 16px;
  --text3: 18px;
  --text4: 20px;
  --text5: 22px;
  --text6: 24px;
  --text7: 28px;
  --text8: 36px;
  --text9: 48px;
  --container {
    max-width: 1200px;
    margin: 0px auto;
    padding: 0px 15px;
    box-sizing: border-box;
  }
  --scroll {
    overflow-y: auto;
    &::-webkit-scrollbar {
      width: 8px;
      background-color: transparent;
    }
    &::-webkit-scrollbar-thumb {
      background-color: #7f977b;
    }
  }
}
